#Tue Jan 24 18:52:17 CET 2023
openweather_api_hostname=api.openweathermap.org
openweather_api_key=806d4c17252a96fbcb12c212f35f83a3
openweather_latitude=-33.868633
openweather_longitude=151.209421
openweather_units=metric
openweather_updateInterval=20.0
positionstack_api_key=0fe88b60549294f08f0a9402b26b04ef
