#
#Mon Jan 23 22:17:49 CET 2023
openweather_api_hostname=api.openweathermap.org
openweather_api_key=806d4c17252a96fbcb12c212f35f83a3
openweather_latitude=-41.281385
openweather_longitude=175.32902
openweather_units=metric
openweather_updateInterval=5.0
positionstack_api_key=0fe88b60549294f08f0a9402b26b04ef
