#
#Tue Jan 24 19:30:32 CET 2023
openweather_api_hostname=api.openweathermap.org
openweather_api_key=806d4c17252a96fbcb12c212f35f83a3
openweather_latitude=48.198674
openweather_longitude=16.348388
openweather_units=metric
openweather_updateInterval=1
positionstack_api_key=0fe88b60549294f08f0a9402b26b04ef
